USE [master]
GO
CREATE DATABASE [QL_Thuexeoto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_Thuexeoto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.DORIN\MSSQL\DATA\QL_Thuexeoto.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_Thuexeoto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.DORIN\MSSQL\DATA\QL_Thuexeoto_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_Thuexeoto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_Thuexeoto]
GO
/****** Object:  UserDefinedFunction [dbo].[thanhtoan]    Script Date: 5/22/2018 3:04:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[thanhtoan](@makh char(4))
RETURNS @trave table(
makhachhang CHAR(4),
CMND nchar(12),
phibaoduong money,
tongtien money
)
AS
BEGIN
DECLARE @a MONEY
DECLARE @b MONEY
DECLARE @c INT
DECLARE @d INT
DECLARE @e MONEY
DECLARE @F MONEY
SET @a=(SELECT tt.DonGiaNgay FROM dbo.tbl_THONGTINXE tt,dbo.tbl_PHIEUTHUE pt WHERE tt.SoXe=pt.SoXe AND pt.MaKH=@makh )
SET @b=@a*5/100
SET @c=(SELECT SoNgayMuon FROM dbo.tbl_PHIEUTHUE WHERE dbo.tbl_PHIEUTHUE.MaKH=@makh)
SET @d=(SELECT COUNT(pt.MaKH) FROM dbo.tbl_PHIEUTHUE pt WHERE pt.MaKH=@makh)
SET @e=(@a+@b)*@c
SET @F=@a*@c
--IF(@d>1)
  INSERT INTO @trave
  SELECT kh.MaKH,kh.CMND,@b AS tienbaoduong,@e AS tongtien
  FROM dbo.tbl_THONGTINXE tt,dbo.tbl_PHIEUTHUE pt,dbo.tbl_KHACHHANG kh
  WHERE  kh.MaKH=@makh AND kh.MaKH=pt.MaKH AND tt.SoXe=pt.SoXe
--ELSE
--  INSERT INTO @trave
--  SELECT kh.MaKH,kh.CMND,@b AS tienbaoduong,@e AS tongtien
--  FROM dbo.tbl_THONGTINXE tt,dbo.tbl_PHIEUTHUE pt,dbo.tbl_KHACHHANG kh
--  WHERE  kh.MaKH=@makh AND kh.MaKH=pt.MaKH AND tt.SoXe=pt.SoXe
  RETURN
  END
GO
/****** Object:  Table [dbo].[tbl_BANGLAI]    Script Date: 5/22/2018 3:04:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_BANGLAI](
	[LoaiXe] [nvarchar](50) NOT NULL,
	[YeuCauBangLai] [varchar](2) NULL,
 CONSTRAINT [PK_BANGLAI] PRIMARY KEY CLUSTERED 
(
	[LoaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_KHACHHANG]    Script Date: 5/22/2018 3:04:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_KHACHHANG](
	[MaKH] [char](4) NOT NULL,
	[TenKH] [nchar](20) NOT NULL,
	[CMND] [nchar](12) NOT NULL,
	[SDT] [nchar](12) NOT NULL,
	[BangLai] [char](2) NULL,
	[Ghichu] [nvarchar](10) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_LOAIXE]    Script Date: 5/22/2018 3:04:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LOAIXE](
	[MaLoai] [nvarchar](50) NOT NULL,
	[HangXe] [nvarchar](50) NOT NULL,
	[Soluong] [int] NULL,
 CONSTRAINT [PK_tbl_LOAIXE] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_PHIEUTHUE]    Script Date: 5/22/2018 3:04:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_PHIEUTHUE](
	[MaPhieu] [char](4) NOT NULL,
	[SoXe] [char](4) NOT NULL,
	[MaKH] [char](4) NOT NULL,
	[NgayLapPhieu] [date] NULL,
	[SoNgayMuon] [int] NULL,
 CONSTRAINT [PK_PHIEUTHUE] PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_THONGTINXE]    Script Date: 5/22/2018 3:04:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_THONGTINXE](
	[SoXe] [char](4) NOT NULL,
	[MaLoai] [nvarchar](50) NOT NULL,
	[TenXe] [nvarchar](50) NULL,
	[DonGiaNgay] [int] NULL,
	[ChuXe] [nvarchar](50) NULL,
	[NamSX] [int] NULL,
 CONSTRAINT [PK_tbl_THONGTINXE] PRIMARY KEY CLUSTERED 
(
	[SoXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_BANGLAI] ([LoaiXe], [YeuCauBangLai]) VALUES (N'xe 5 chổ', N'B1')
INSERT [dbo].[tbl_BANGLAI] ([LoaiXe], [YeuCauBangLai]) VALUES (N'xe 7 chổ', N'B1')
INSERT [dbo].[tbl_BANGLAI] ([LoaiXe], [YeuCauBangLai]) VALUES (N'xe khách', N'D')
INSERT [dbo].[tbl_KHACHHANG] ([MaKH], [TenKH], [CMND], [SDT], [BangLai], [Ghichu]) VALUES (N'KH01', N'Tạ Thành            ', N'281112655   ', N'0123456798  ', N'A1', NULL)
INSERT [dbo].[tbl_KHACHHANG] ([MaKH], [TenKH], [CMND], [SDT], [BangLai], [Ghichu]) VALUES (N'KH02', N'Nguyễn Thanh Tâm    ', N'281112656   ', N'0125462868  ', N'B1', NULL)
INSERT [dbo].[tbl_KHACHHANG] ([MaKH], [TenKH], [CMND], [SDT], [BangLai], [Ghichu]) VALUES (N'KH03', N'Trần Thị Dung       ', N'28115454    ', N'0124562548  ', N'C1', NULL)
INSERT [dbo].[tbl_LOAIXE] ([MaLoai], [HangXe], [Soluong]) VALUES (N'xe 5 chổ', N'huynhdai', 2)
INSERT [dbo].[tbl_LOAIXE] ([MaLoai], [HangXe], [Soluong]) VALUES (N'xe 7 chổ', N'BMW', 3)
INSERT [dbo].[tbl_LOAIXE] ([MaLoai], [HangXe], [Soluong]) VALUES (N'xe khách', N'toyota', 3)
INSERT [dbo].[tbl_PHIEUTHUE] ([MaPhieu], [SoXe], [MaKH], [NgayLapPhieu], [SoNgayMuon]) VALUES (N'P01 ', N'XE01', N'KH01', CAST(N'2017-10-10' AS Date), 2)
INSERT [dbo].[tbl_PHIEUTHUE] ([MaPhieu], [SoXe], [MaKH], [NgayLapPhieu], [SoNgayMuon]) VALUES (N'P02 ', N'XE08', N'KH06', CAST(N'2017-10-11' AS Date), 1)
INSERT [dbo].[tbl_PHIEUTHUE] ([MaPhieu], [SoXe], [MaKH], [NgayLapPhieu], [SoNgayMuon]) VALUES (N'P03 ', N'XE12', N'KH07', CAST(N'2017-10-12' AS Date), 3)
INSERT [dbo].[tbl_THONGTINXE] ([SoXe], [MaLoai], [TenXe], [DonGiaNgay], [ChuXe], [NamSX]) VALUES (N'    ', N'xe máy', N'sirus', 100000, N'An', 2011)
INSERT [dbo].[tbl_THONGTINXE] ([SoXe], [MaLoai], [TenXe], [DonGiaNgay], [ChuXe], [NamSX]) VALUES (N'XE01', N'xe máy', N'sirus', 100000, N'An', 2011)
INSERT [dbo].[tbl_THONGTINXE] ([SoXe], [MaLoai], [TenXe], [DonGiaNgay], [ChuXe], [NamSX]) VALUES (N'XE02', N'xe máy', N'exciter', 120000, N'Bình', 2012)
ALTER TABLE [dbo].[tbl_LOAIXE]  WITH CHECK ADD  CONSTRAINT [FK_LOAIXE_BANGLAI] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[tbl_BANGLAI] ([LoaiXe])
GO
ALTER TABLE [dbo].[tbl_LOAIXE] CHECK CONSTRAINT [FK_LOAIXE_BANGLAI]
GO
ALTER TABLE [dbo].[tbl_PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUE_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[tbl_KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[tbl_PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUTHUE_KHACHHANG]
GO
ALTER TABLE [dbo].[tbl_PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_tbl_PHIEUTHUE_tbl_THONGTINXE] FOREIGN KEY([SoXe])
REFERENCES [dbo].[tbl_THONGTINXE] ([SoXe])
GO
ALTER TABLE [dbo].[tbl_PHIEUTHUE] CHECK CONSTRAINT [FK_tbl_PHIEUTHUE_tbl_THONGTINXE]
GO
USE [master]
GO
